<?xml version="1.0"?>
<web-app metadata-complete="true" version="5.0"
  xsi:schemaLocation="https://jakarta.ee/xml/ jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  xmlns:xsi="http://www.w3.2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee">

  <display-name>Ecommerce RestFul API</display-name>
  <servlet>
    <servlet-name>JerseyServletContainer</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>gov.iti.jets.Controller</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyServletContainer</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>JAXWSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

</web-app>